@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    *{
      width: 100%;
    }
}

/* navigation bar link style */
nav{
  overflow: hidden;
  background-color: #515366;
}
nav a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 17px;
  margin: 0 10px;
}
nav a:hover{
  background-color:#ddd;
  color: rgb(245, 244, 244);
}

nav a.active{
  background-color: #04AA6D;
  color: white;
}

/*header style*/
header{
  width: 100%;  
  text-align: center;
  background-color:#282a39;
  color: white;
  position: absolute;
  margin-left: -8px;
  top: 0;
}

/*footer style*/
footer{
  width: 100%;  
  text-align: center;
  /*background-color:#1b1d27;*/
  color: white;
  font-size: 15px;
  position: fixed;
  bottom: 0;
  margin-left: -8px;
}

body{
  background: #323647;
}